

.hero { 
    width: 100%;
    height: 100vh;
    background: url('../../assets/hojas.jpg')no-repeat center center/cover;
}

.hero h1 {
    font-family: Sacramento, sans-serif;
    font-size: 6em;
    font-weight: bold;
}

.hero .container {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: whitesmoke;
} 

.hero p {   
    font-size: 1.5rem;
}

.hero .content {
    border-left: 12px solid whitesmoke;
    padding-left: 2rem;
    margin-bottom: 15%;
}
.hero .btn {
    margin: 1rem 1rem 1rem 0;
    width: 200px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 1em;
    background-color: rgb(91, 90, 90)
}

.hero__h2 {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
}