/* Letra principal - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Letra titulos - Sacramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #77bfa3
}
body {
  margin: 0;
  font-family: 'Poppins','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}z

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
h1,h2 {
font-family: Monaco, sans-serif;
}
h3{
  font-size: 1.4rem;
  text-transform: uppercase;
  color:var(--primary-color);
  margin: .5rem 0;
}

h1{
font-size: 5rem;
}

h2 {
font-size: 3rem;
}

.btn {
  padding: .7rem 1.5rem;
  color: #000;
  background: transparent;
  border: 1px solid #000;
  border-radius: 25px;
  font-size: 1.4rem
}
.btn-dark {
  background-color: #000;
  color: var(--primary-color)
}
@media screen and (max-width: 740px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
 
}