p {
    font-size: 2em;
    color: black;
    text-align: center; 
    padding-bottom: 1em;
}
.texto__h2{
    font-family: Sacramento, sans-serif;
    font-size: 4em;
    padding-top: .4em;
    
    text-align: center;
}